html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  height: 100%;
}

#grid-container {
  height: 100%;
  display: flex;
}

#grid-container > #left-editor {
  height: 100%;
  flex: 1;
}

#grid-container > #right-panel {
  height: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
}

#grid-container > #right-panel > #right-editor {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.cm-editor {
  height: 100%;
}
