# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xms6G -Xmx6G -Xss4M
      JVM_OPTS:  -Xms6G -Xmx6G -Xss4M
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache Maven artifacts
        uses: coursier/cache-action@v7
        with:
          root: scalajs
      - name: Set up PNPM
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'pnpm'
      - name: Set up Emscripten
        uses: mymindstorm/setup-emsdk@v14
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install Meson
        run: python -m pip install meson ninja
      - name: Install dependencies
        run: pnpm install
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: sbt
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Build frontend
        run: pnpm run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload dist folder
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
